<div class="two-thirds">
    <ul class="breadcrumbs">
        <li class="breadcrumbs__crumb">
            <a href="https://www.camden.gov.uk/" lass="breadcrumbs__link">Home</a>
        </li>
        <li class="breadcrumbs__crumb">
            <a href="https://www.camden.gov.uk/COVID-19" lass="breadcrumbs__link">Coronavirus</a>
        </li>
        <li class="breadcrumbs__crumb">
            Get self-isolation help
        </li>
    </ul>
    <h1 class="page-title">Get help if you’re staying at home because of coronavirus</h1>

    <p class="lede">Use this service to find volunteer groups and other services in your local area who can help you cope.</p>

    <p class="important">If you're worried about your health or have coronavirus symptoms, call NHS 111 or <a href="https://www.nhs.uk/conditions/coronavirus-covid-19/">check the NHS website</a>.</p>
</div>

<% if notice %><p class="error"><%= notice %></p><%end%>

    <%= form_with url: services_path, method: :get, local: true do |f| %>

        <fieldset class="field">
            <legend class="field__label"><h2>What do you need help with?</h2></legend>
            <p class="field__hint">Select as many as you like</p>
            <div class="checkboxes">
                <% @categories.each do |c| %>
                    <div class="checkbox">
                        <input class="checkbox__input" type="checkbox" name="categories[]" value="<%= c.name %>" id="<%= c.name %>">
                        <label class="checkbox__label" for="<%= c.name %>"><%= c.long_name %></label>
                    </div>
                <% end %>
            </div>
        </fieldset>

        <div class="field">
            <label  class="field__label"for="postcode"><h2>Where are you?</h2></label>
            <p class="field__hint">Enter your Camden postcode</p>
            <%= f.text_field :postcode, required: true, placeholder: "eg. N1C 4AG", class: "field__text-input" %>
        </div>

        <%= f.submit "See results", class: "button" %>
    <% end %>


<% if (params[:categories] && params[:categories].include?("financial")) %>
    <section class="important">
        <p>If your income has stopped or dropped as a result of coronavirus, you might be able to get financial support.</p>
        <a class="important__link" href="https://www.camden.gov.uk/COVID-19">Details and how to apply</a>
    </section>
<% end %>

<ol class="service-results">
    <% @services.each do |s| %>
        <%= render partial: "shared/service_card", locals: {s: s, recommended: false} %>
    <% end %>
</ol>

<section class="safeguarding">
    <h2>Can't find what you need?</h2>
    <p>If you’re worried about yourself or someone you care about, <a href="https://www.camden.gov.uk/COVID-19">see our other coronavirus resources</a>.</p>
</section>
