<% content_for :header do %>
    <div class="two-thirds">
        <ul class="breadcrumbs">
            <li class="breadcrumbs__crumb">
                <a href="https://www.camden.gov.uk/" class="breadcrumbs__link">Home</a>
            </li>
            <li class="breadcrumbs__crumb">
                <a href="https://www.camden.gov.uk/COVID-19" class="breadcrumbs__link">Coronavirus</a>
            </li>
            <% if is_initial? %>    
                <li class="breadcrumbs__crumb">Get self-isolation help</li>
            <% else %>
                <li class="breadcrumbs__crumb">
                    <%= link_to "Get self-isolation help", root_path %>
                </li>    
                <li class="breadcrumbs__crumb">Results</li>
            <% end %>
        </ul>        
        <% if is_initial? %>    
            <h1 class="page-title">Get help if you’re staying at home because of coronavirus</h1>
            <p class="lede">Use this service to find volunteer groups and other services in your local area who can help you cope.</p>
        <% else %>
            <h1 class="page-title page-title--small">Your results</h1>
        <% end %>
    </div>
<% end %>

<%= render "search-form" %>

<% if @services.present? %>
    <%= render "advice-snippets" %>

    <header class="grid-actions">
        <%# Map toggle here %>
        <% if @locations.present? %>
            <p>Results near <strong><%= location_summary(@locations) %></strong>
        <% end %>
    </header>

    <ol class="services-grid">
        <% @services.each do |s| %>
            <%= render "service-card", s: s %>
        <% end %>
    </ol>

    <%= render "pagination", model: @services %>
<% end %>

<% content_for :after_content do %>
    <section class="calls-to-action">
        <div class="container calls-to-action__inner">
            <aside class="calls-to-action__call">
                <h2>Can't find what you need?</h2>
                <p>If you’re worried about yourself or someone you care about, <a href="https://www.camden.gov.uk/COVID-19">see our other coronavirus resources</a>.</p>
            </aside>
            <aside class="calls-to-action__call">
                <h2>Tell us about a service</h2>
                <p>If you represent a group or service that’s offering help during the coronavirus pandemic, <%= link_to "tell us about it", new_service_path %>.</a>
            </aside>
        </div>
    </section>
<% end %>