<div class="two-thirds">
    <ul class="breadcrumbs">
        <li class="breadcrumbs__crumb">
            <a href="https://www.camden.gov.uk/" lass="breadcrumbs__link">Home</a>
        </li>
        <li class="breadcrumbs__crumb">
            <a href="https://www.camden.gov.uk/COVID-19" lass="breadcrumbs__link">Coronavirus</a>
        </li>
        <li class="breadcrumbs__crumb">
            Get self-isolation help
        </li>
    </ul>
    <h1 class="page-title">Get help if you’re staying at home because of coronavirus</h1>

    <p class="lede">Use this service to find volunteer groups and other services in your local area who can help you cope.</p>

    <p class="important">If you're worried about your health or have coronavirus symptoms, call NHS 111 or <a href="https://www.nhs.uk/conditions/coronavirus-covid-19/">check the NHS website</a>.</p>
</div>

<% if notice %>
    <p class="error"><%= notice %></p>
<%end%>

<%= form_with url: services_path, method: :get, local: true do |f| %>

    <div class="field">
        <%= f.label :category, "What" %>
        <%= f.collection_select :category, Category.all, :name, :label, class: "field__label" %>
    </div>

    <div class="field">
        <%= f.label :postcode, "Where are you?", class: "field__label" %>
        <p class="field__hint">Enter your Camden postcode</p>
        <%= f.text_field :postcode, value: params[:postcode], placeholder: "eg. N1C 4AG", class: "field__text-input" %>
    </div>

    <%= f.submit "See results", class: "button" %>
<% end %>


<% if (params[:categories] && params[:categories].include?("financial")) %>
    <section class="important">
        <p>If your income has stopped or dropped as a result of coronavirus, you might be able to get financial support.</p>
        <a class="important__link" href="https://www.camden.gov.uk/COVID-19">Details and how to apply</a>
    </section>
<% end %>

<ol class="service-results">
    <% @services.each do |s| %>
    
        <li>
            <strong><%= s.name %></strong>
            <small><% s.categories.each do |c| %>
            <%= c.name %>
            <% end %></small>
        </li>

    <% end %>
</ol>

<%= paginate @services %>

<section class="safeguarding">
    <h2>Can't find what you need?</h2>
    <p>If you’re worried about yourself or someone you care about, <a href="https://www.camden.gov.uk/COVID-19">see our other coronavirus resources</a>.</p>
    <p>If you represent a group or service that’s offering help during the coronavirus pandemic, <%= link_to "tell us about it", new_service_path %>.</a>
</section>

<%= javascript_pack_tag 'application' %>