<% content_for :header do %>
    <div class="two-thirds">
        <ul class="breadcrumbs">
            <li class="breadcrumbs__crumb">
                <a href="https://www.camden.gov.uk/" lass="breadcrumbs__link">Home</a>
            </li>
            <li class="breadcrumbs__crumb">
                <a href="https://www.camden.gov.uk/COVID-19" lass="breadcrumbs__link">Coronavirus</a>
            </li>
            <li class="breadcrumbs__crumb">Get self-isolation help</li>
        </ul>
        <% if params[:page].blank? || params[:postcode].blank? || params[:category].blank? %>
            <h1 class="page-title">Get help if you’re staying at home because of coronavirus</h1>
            <p class="lede">Use this service to find volunteer groups and other services in your local area who can help you cope.</p>
        <% end %>
    </div>
<% end %>

<%= render "search-form" %>

<header class="grid-actions">
    <p class="search-summary">
        <% unless params[:postcode].blank? %>
            Results nearest <strong><%= params[:postcode].upcase %></strong>
        <% else %>
            All results in the Camden area
        <% end %>
    </p>
    <%# Map toggle here %>
</header>

<% if (params[:categories] && params[:categories].include?("financial")) %>
    <section class="important">
        <p>If your income has stopped or dropped as a result of coronavirus, you might be able to get financial support.</p>
        <a class="important__link" href="https://www.camden.gov.uk/COVID-19">Details and how to apply</a>
    </section>
<% end %>

<ol class="services-grid">
    <% @services.each do |s| %>
        <%= render "service-card", s: s %>
    <% end %>
</ol>

<%= render "pagination", model: @services %>

<% content_for :after_content do %>
    <section class="calls-to-action">
        <div class="container calls-to-action__inner">
            <aside class="calls-to-action__call">
                <h2>Can't find what you need?</h2>
                <p>If you’re worried about yourself or someone you care about, <a href="https://www.camden.gov.uk/COVID-19">see our other coronavirus resources</a>.</p>
            </aside>
            <aside class="calls-to-action__call">
                <h2>Tell us about a service</h2>
                <p>If you represent a group or service that’s offering help during the coronavirus pandemic, <%= link_to "tell us about it", new_service_path %>.</a>
            </aside>
        </div>
    </section>
<% end %>

<%= javascript_pack_tag 'application' %>