<%= simple_form_for [:admin, admin_service] do |form| %>
  <% if admin_service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(admin_service.errors.count, "error") %> prohibited this admin_service from being saved:</h2>

      <ul>
      <% admin_service.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.input :name %>
  <%= form.input :description %>
  <%= form.input :url %>
  <%= form.input :key_points %>
  <%= form.input :phone %>
  <%= form.collection_check_boxes(:category, Service.categories, :first, :last, include_hiddene: false) do |builder| %>
    <%= builder.check_box %>
    <%= builder.object.first %>
  <% end %>
  <%= form.input :postcode %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
