<% content_for :header do %>
  <%= link_to "Go back", new_user_session_path, class: "go-back" %>
  <h1 class="page-title">Register a new account</h1>
  <p class="lede">You'll need to be approved by an existing user before you can log in</p>
<% end %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

  <div class="field half">
    <%= f.label :email, class: "field__label"%>
    <%= f.email_field :email, required: true, class: "field__input" %>
  </div>

  <div class="field half">
    <%= f.label :password, class: "field__label"%>
    <%= f.password_field :password, required: true, class: "field__input" %>
  </div>

  <div class="field half">
    <%= f.label :password_confirmation, class: "field__label"%>
    <%= f.password_field :password_confirmation, required: true, class: "field__input" %>
  </div>

  <%= f.button "Sign up", class: "button" %>
<% end %>
