<li class="service-card <%= "recommended" if recommended %>">

    <h2 class="service-card__name">
        <a href=""><%= s.name %></a>
    </h2>
    <p class="service-card__description"><%= s.description %></p>

    <ul class="service-card__categories">
        <% s.categories.each do |c| %>
            <li class="service-card__category"><%= c.name %></li>
        <% end %>
    </ul>

    <footer class="service-card__footer">
        <aside>
            <h3>Where</h3>
            <p><%= s.street_address %></p>
            <p><%= s.postcode %></p>
        </aside>

        <aside>
            <h3>Contact</h3>
            <p><%= link_to s.email, "mailto:#{s.email}"%></p>
            <p class="service-card__phone"><%= s.phone %> </p>
        </aside>
    </footer>

</li>