<!DOCTYPE html>
<html>
  <head>
    <title>CamdenCoronavirus</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= link_to "https://www.camden.gov.uk" do %>
        <%= image_tag "logo.svg", alt: "Camden Council" %>
      <% end %>
    </header>
    <%= yield %>
    <footer>
      © 2020 The London Borough of Camden
    </footer>
  </body>
</html>
