<!DOCTYPE html>
<html lang="en">
  <head>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-152782082-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '<%= ENV['GA_PROPERTY_ID'] %>');
    </script>

    <title>Get help if you're staying at home due to coronavirus | Buckinghamshire Council</title>
    <meta name="viewport" content="width=device-width">
    <%= favicon_link_tag 'favicon.ico' %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <noscript><div class="noscript">You can still use this service without JavaScript, but some features might not work.</div></noscript>

      <section class="beta-banner">
        <div class="beta-banner__inner container">
          <strong class="beta-banner__tag">Beta</strong>
          <p class="beta-banner__message">We're updating this website every day — <a href="https://docs.google.com/forms/d/e/1FAIpQLSdSsvGW-kMZQ2kf51fRYzkzXP_kZq7hi4hUVULr68Hj7PtpZw/viewform?usp=sf_link">your feedback</a> helps us improve it.</p>
        </div>
      </section>

      <header class="site-header">
        <div class="container">
          <a href="https://buckinghamshire.gov.uk" class="site-header__masthead">
            <%= image_tag "logo.svg", alt: "Buckinghamshire Council" %>
          </a>
        </div>
      </header>

      <header class="page-header">
        <div class="container">
          <%= yield :header %>
        </div>
      </header>

      <div class="main-content-area">
        <div class="container">
          <% if notice %><p class="notice"><%= notice %></p><% end %>
          <% if alert %><p class="alert"><%= alert %></p><% end %>

          <%= yield %>
        </div>
      </div>

      <%= yield :after_content %>

      <footer class="site-footer">
        <div class="container">
          <p class="site-footer__notice">© 2020 Buckinghamshire Council</p>
          <nav class="site-footer__menu">
            <a class="site-footer__link" href="https://www.buckinghamshire.gov.uk/about/cookies/">Privacy & cookies</a>
            <a class="site-footer__link" href="https://docs.google.com/forms/d/e/1FAIpQLSdSsvGW-kMZQ2kf51fRYzkzXP_kZq7hi4hUVULr68Hj7PtpZw/viewform?usp=sf_link">Give feedback on this service</a>
          </nav>
        </div>
      </footer>

    <%# </div> %>


    <%# <div class="dialog" id="my-accessible-dialog">
      <div class="dialog-overlay" tabindex="-1" data-a11y-dialog-hide></div>
      <dialog class="dialog-content" aria-labelledby="dialogTitle" aria-describedby="dialogDescription">
        <button data-a11y-dialog-hide class="dialog-close" aria-label="Close this dialog window">&times;</button>

        <h1 id="dialogTitle">Subscribe to ESPI Newsletter</h1>

        <p id="dialogDescription">Fill in the ridiculously small form below to receive our ridiculously cool newsletter!</p>

        <form action="http://edenspiekermann.us10.list-manage.com/subscribe/post?u=927d6a7cf437da88aac7a87ec&amp;id=6823ab7bb8" method="post" target="_blank">
          <label for="email">Email (required)</label>
          <input type="email" name="EMAIL" id="email" placeholder="john.doe@gmail.com" required>
          <button type="submit" name="button">Sign up</button>
        </form>
      </dialog>
    </div> %>

    <%= javascript_pack_tag 'application' %>


    <!-- Fathom - simple website analytics - https://usefathom.com -->
    <script>
      (function(f, a, t, h, o, m){
      a[h]=a[h]||function(){
      (a[h].q=a[h].q||[]).push(arguments)
      };
      o=f.createElement('script'),
      m=f.getElementsByTagName('script')[0];
      o.async=1; o.src=t; o.id='fathom-script';
      m.parentNode.insertBefore(o,m)
      })(document, window, 'https://cdn.usefathom.com/tracker.js', 'fathom');
      fathom('set', 'siteId', 'HBUWQJUM');
      fathom('trackPageview');
    </script>
    <!-- / Fathom -->

  </body>
</html>
