<!DOCTYPE html>
<html>
  <head>
    <title>CamdenCoronavirus</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header class="site-header">
      <div class="container">
        <%= link_to "https://www.camden.gov.uk" do %>
          <%= image_tag "logo.svg", alt: "Camden Council" %>
        <% end %>
      </div>
    </header>

    <%= yield %>

    <footer class="site-footer">
      <div class="container">
        © 2020 The London Borough of Camden
      </div>
    </footer>
    
  </body>
</html>
